[submodule "Lisa/vendor/spdlog"]
	path = Lisa/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lisa/vendor/glfw"]
	path = Lisa/vendor/glfw
	url = https://github.com/keko950/glfw
[submodule "Lisa/vendor/imgui"]
	path = Lisa/vendor/imgui
	url = https://github.com/keko950/imgui
[submodule "Lisa/vendor/glm"]
	path = Lisa/vendor/glm
	url = https://github.com/keko950/glm
